#Form{
	margin: auto;
  	display: table; /* ces 2 lignes permettent de centrer*/
}

#champ{
	margin-bottom: 10%;
	margin: auto;
  	display: table;

  	width: 80%;
  	font-size:20px;
}
.password + .unmask {
	position:absolute;
	right: 68px; top: 7px;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background: #aaa;
	border-radius: 50%;
  }
  .password + .unmask:before {
	content: "";
	position:absolute;
	top:4px; left:4px;
	z-index:1;
	width: 17px;
	height: 17px;
	background: #e3e3e3;
	border-radius: 50%;
  }
  .password[type="text"] + .unmask:after {
	content: "";
	position:absolute;
	top:6px; left:6px;
	z-index:2;
	width: 13px;
	height: 13px;
	background: #aaa;
	border-radius: 50%;
  }

input {
	width: 300px;
}
 
.show-password {
	font-size: 9px;
	text-transform: uppercase;
	position: absolute;
	cursor: pointer;
	margin-left: -48px;
}
